<!-- views/partials/header.ejs -->
<div class="contenedor-header">
  <header>
    <nav id="nav">
      <ul>
        <li><a href="/psicologa">CREA Salud mental</a></li>
        <li><a href="/registro">Agregar nuevo paciente</a></li>
        <li><a href="/imagenes_inicio/admin">Modificar imágenes de tu pantalla principal</a></li>
        <li><a href="/rol/vista">Roles de Usuario</a></li>
        <li id="btnCerrarSesion">
          <form action="/logout" method="POST">
            <button type="submit">Cerrar sesión</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>
</div>
